<div class="media">
   <div class="media-body">
     <h4 class="media-heading">
     </h4>
     <small>
       submitted <%= time_ago_in_words(event.created_at) %> ago by <%= event.user.email %>
       <p>Event Type: <%= event.title %></p>
       <p>Amount: <%= event.value %></p>
     </small>
   </div>
 </div>
