/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "bootstrap-sprockets";

 body{
   width: 100%;
   margin: 0px;
   background: #F1F1F2;
   font-family: 'Roboto', sans-serif;
 }

.navbar{
  padding: 20px 20px;
  font-size:18px;
  background: #68A225;
  margin-bottom: 0px;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.navbar a{
  padding-right: 5px;
  text-decoration: none;
  color: white;

}

.navbar a:hover{
  border-bottom: 2px solid white;
  border-radius: 1px;
}

.container-main {
  width: 1000px;
  height: 2000px;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
  background: #FDFFFF;
}

.container-main h1{
  margin-top:0px;
  padding: 10px;
}

.login-box{
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
  color:black;
  height: 400px;
  width: 700px;
}

.login-box h2{
  margin-top:0px;
  padding: 10px;
}

.login-box .field{
  text-align: right;
  padding-right: 250px;
  padding-bottom: 5px;
}

.input-color{
  color:black;
}

.remember-box{
  text-align:right;
  padding-right: 295px;
}

.main-dashboard{
  border:1px solid black;
  border-bottom: none;
  height: 300px;
  width: 900px;
  margin:0 auto;
}

.main-dashboard .charts{
  /*float: left;
  width: 250px;
  margin-left: 40px;*/
  display: inline-block;
  position: relative;
  margin: 1%;
  float: left;
  width: 23%;
  height: 250px;
  margin-top: 0%;
}

.main-dashboard .charts h4 {
  text-align: center;
}

.main-dashboard .charts p{
  text-align: center;
}

.main-dashboard li{
   display: inline-block;
}

.side-dashboard{
  border:1px solid black;
  border-top:none;
  height: 150px;
  width: 900px;
  margin:0 auto;
  text-align: left
}

.goal-box {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: 23%;
    height: 100px;
    /*background-color: lightgrey;*/
    margin-top: 0%;
    text-align: center
}

.events-dashboard {
  display: inline-block;
  position: relative;
  margin: 0%;
  float: left;
  width: 50%;
  /*background-color: lightgrey;*/
  margin-top: 0%;
  text-align: center
}

.button-div {
  text-align:center;
}

.main-landing {
  background-color: #66CDAA;
  background-size: cover;
  color: white;
  height: 700px;
  width: cover;
  margin-right: 0;
  margin-left: 0;
}

.main-landing .container-main {
  background: none;
}

.landing-header {
  margin-top: 20px;
  text-align:center;
  opacity: 0;
  -webkit-transform: scaleX(0.9) translateY(3rem);
  -moz-transform: scaleX(0.9) translateY(3rem);
  transform: scaleX(0.9) translateY(3rem);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.landing-header h1{
  font-size:8rem;
}
.bottom-main-dashboard{
  border:1px solid black;
  height: 500px;
  width: 900px;
  margin:0 auto;
}

.switch-button-div{
  text-align: right;
  margin-bottom: 2px;
  margin-right: 50px;
}

.new-goal-list{
  list-style: none;
}

.event-box{
  margin:auto;
  width:300px;
}

.sidegig-header h2{
  margin-top:0;
}

.sidegig-header table{
  text-align: center;
  margin:auto;
}

.landing-box{
  display: inline-block;
  position: relative;
  margin: 1%;
  float: left;
  width: 47%;
  margin-top: 25px;
  text-align:center;
}

.sign-up-box{
  display: block;
  margin-top: 400px;
  text-align: center;
  margin-bottom:100px;
}

.landing-box ul{
  text-align: left;
  margin-left: 10%;
}

.landing-box h2{
  margin-top: 0;
  margin-bottom: 20px;
}

.ion-cash{
  font-size: 15rem;
  color:black;
}

.ion-social-usd{
  font-size: 15rem;
  color:black;
}

.ion-arrow-graph-up-right{
  font-size: 15rem;
  color:black;
}

.ion-pie-graph{
  font-size: 15rem;
  color:black;
}

.second-landing{
  background-color: white;
  height:500px;
}

.landing-icons{
  display: inline-block;
  position: relative;
  margin: 1%;
  float: left;
  width: 31%;
  height: 100px;
  margin-top: 0%;
  text-align: center
}

.second-landing h2{
  color:black;
}

.second-landing h4{
  color:black;
}
